.footer-push {
    height: 300px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-family:Raleway,sans-serif; 
  width: 100%;
  background-color:rgba(0,0,0,0.9);
  color: white;
  text-align: right;
  padding: 0 20px 0 0;
}